# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution/packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Model files and embeddings
*.pkl
*.bin